* {
    box-sizing: border-box
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
}

.box1 {

    background: #F4A59F;
    border: 2px solid #7C1D19;
    box-shadow: 6px 6px 0px #7C1D19;
    border-radius: 24px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.box2 {

    background: #E284A0;
    border: 2px solid #6C1A45;
    box-shadow: 6px 6px 0px #6C1A45;
    border-radius: 24px;
    left: -200px;
    right: 0;
    top: 50px;
    bottom: 0;
    z-index: 4;

}

.box3 {

    background: #F2BA89;
    border: 2px solid #7C1D19;
    box-shadow: 6px 6px 0px #945219;
    border-radius: 24px;
    left: -400px;
    right: 0;
    top: 100px;
    bottom: 0;
    z-index: 3;
}

.box4 {

    background: #CDEEC8;
    border: 2px solid #465B43;
    box-shadow: 6px 6px 0px #465B43;
    border-radius: 24px;
    left: -600px;
    right: 0;
    top: 150px;
    bottom: 0;
    z-index: 2;
}


.box5 {

    background: #BBBFFB;
    border: 2px solid #3C2B84;
    box-shadow: 6px 6px 0px #3C2B84;
    border-radius: 24px;
    left: -800px;
    right: 0;
    top: 200px;
    bottom: 0;
    z-index: 1;
}

.box6 {

    background: #E8E9F1;
    border: 2px solid #090B37;
    box-shadow: 6px 6px 0px #090B37;
    border-radius: 24px;
    left: -1000px;
    right: 0;
    top: 250px;
    bottom: 0;
    z-index: 0;
}


.w-100 {
    width: 100%;

}

.h-50 {
    height: 50%
}

.d-flex {
    display: flex
}

.square {
    width: 300px;
    height: 300px;

}

.square:hover {
    top: 300px;
    transition: 1s;
}

.z-index-minus {
    z-index: -1;
}

.p-rel {
    position: relative
}

.rotate {
    transform: rotate(90deg);
}

.word1 {
    font-family: Source Sans Pro;
    font-size: 60px;

}

.word2 {
    font-family: Source Sans Pro;
    font-size: 24px;
    transform-origin: left;
    text-align: right;
    left: calc(100% - 20px);
    bottom: 100px;


}

.j-c-between {
    justify-content: space-between
}

.f-dir {
    flex-direction: row
}

.a-i-flex {
    align-items: flex-end
}


.padding10 {
    padding: 10px;
}

.color-txt-1 {
    color: #7C1D19
}

.color-txt-2 {
    color: #6C1A45
}

.color-txt-3 {
    color: #945219
}

.color-txt-4 {
    color: #465B43
}

.color-txt-5 {
    color: #3C2B84
}

.color-txt-6 {
    color: #090B37
}
